#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Shared.xcconfig"
PRODUCT_BUNDLE_IDENTIFIER=be.wive.cyclingescape.dev
CFBundleName=Cycling Escape Debug
FLUTTER_TARGET=lib/main.dart
PROVISIONING_PROFILE_SPECIFIER=Cycling Escape Dev
CODE_SIGN_IDENTITY=iPhone Developer
